
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}


html {
    scroll-behavior: smooth;
    font-size: 15px;
}

header {
    height: 15vh;
}

.search-logo-cart, .categories {
    height: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.categories {
    column-gap: 3%;
    height: 50%;
    width: 100%;
}


.search-div, .title-logo  {
     height: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
}

 .title-logo {
    margin-left: 15%;
    width: 10%;
}

.title-logo h1 {
    font-size: 1.5rem;
}

.search-div {
    margin-left: -20%;
    width: 20%;
}

.search-div input {
    width: 75%;
    height: 40%;
    border-radius: 5px 0 0 5px;
}

.search-div button {
    width: 10%;
    height: 40%;
    border-radius: 0 5px 5px 0;
}

.search-logo-cart .search-div img {
     width: 100%;
     height: 100%;
     border-radius: 0 5px 5px 0;
}


.title-logo h1, .title-logo img {
     height: 60%;
}

.title-logo img {
    width: 20%;
    height: 60%;
    border-radius: 10px;
}

.cart-image {
    width: 5%;
    height: 100%;
    margin-left: 10%;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    height: 50%;
    align-self: center;
    padding-top: 0.2%;
}


main {
    height: 80vh;
}

main, .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}

.cards {
    width: 30%;
    height: 100%;
    justify-content: center;
    
}

.big-card {
    width: 100%;
    height: 70%;
}

.big-card, .small-card {
    background-image: url(./images/dark.jfif);
}

.small-card {
    width: 30%;
    height: 20%;
}

.details {
    width: 30%;
    height: 100%;
}

.product-name, .product-price, .ratings {
    width: 50%;
}

.quantity-control {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 9.3%;
    
}

.ratings .qty {
    width: 40%;
    text-align: center;
    margin: 0 auto 0 auto;
}

button {
    width: 50%;
    height: 10%;
    background-color: black;
    color: white;
    border-radius: 10px;
}





