
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}


html {
    scroll-behavior: smooth;
    font-size: 15px;
}

header {
    height: 20vh;
}

.search-logo-cart, .categories {
    height: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.categories {
    column-gap: 3%;
    height: 50%;
    width: 100%;
}


.search-div, .title-logo  {
     height: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
}

 .title-logo {
    margin-left: 15%;
    width: 10%;
}

.search-div {
    margin-left: -20%;
    width: 20%;
}

.search-div input {
    width: 75%;
    height: 40%;
}

.search-div button {
    width: 10%;
    height: 40%;
}

.search-logo-cart .search-div img {
     width: 100%;
     height: 100%;
}


.title-logo h1, .title-logo img {
     height: 60%;
}

.title-logo img {
    width: 20%;
    height: 60%;
}

.cart-image {
    width: 5%;
    height: 100%;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: black;
    height: 50%;
    align-self: center;
}




